<aside
  class="d-sm-flex flex-column flex-shrink-0 bg-body-tertiary sticky-top"
  [class.d-none]="!isOpen()"
  [style.width]="isOpen() ? '250px' : '4.5rem'"
>
  <div class="d-flex flex-row align-items-center justify-content-center py-3 bg-white text-dark">
    <img alt="Logo" height="24" src="dumbbell.png" />
    <span class="ps-3" [class.visually-hidden]="!isOpen()">{{ 'app.title' | translate }}</span>
  </div>

  <div class="overflow-y-auto" [class.p-3]="isOpen()">
    <ul
      class="nav nav-pills flex-column mb-auto"
      [class.nav-flush]="!isOpen()"
      [class.text-center]="!isOpen()"
    >
      @for (item of menuItems(); track item.route) {
        <li class="nav-item">
          <a
            class="nav-link link-body-emphasis"
            placement="right"
            routerLinkActive="active"
            triggers="hover"
            [class.border-bottom]="!isOpen()"
            [class.py-3]="!isOpen()"
            [class.rounded-0]="!isOpen()"
            [disableTooltip]="isOpen()"
            [ngbTooltip]="item.label | translate"
            [routerLink]="item.route"
          >
            <app-icon size="1.125rem" [class.me-2]="isOpen()" [name]="item.iconKey" />
            <span [class.visually-hidden]="!isOpen()">{{ item.label | translate }}</span>
          </a>
        </li>
      }
    </ul>
  </div>
</aside>
