<div class="row g-4">
  <div class="col-6">
    <div class="card text-center shadow-sm h-100">
      <div class="card-body d-flex flex-column">
        <div class="mb-3">
          <app-icon class="text-primary" name="workout" size="48" />
        </div>
        <h5 class="card-title text-muted">{{ 'dashboard.workouts' | translate }}</h5>
        <p class="display-4 mb-0 mt-auto">{{ totalWorkoutsCount() }}</p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card text-center shadow-sm h-100">
      <div class="card-body d-flex flex-column">
        <div class="mb-3">
          <app-icon class="text-success" name="distance" size="48" />
        </div>
        <h5 class="card-title text-muted">{{ 'dashboard.distance' | translate }}</h5>
        <p class="display-4 mb-0 mt-auto">{{ totalDistance() }}</p>
        <small class="text-muted">km</small>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card text-center shadow-sm h-100">
      <div class="card-body d-flex flex-column">
        <div class="mb-3">
          <app-icon class="text-info" name="duration" size="48" />
        </div>
        <h5 class="card-title text-muted">{{ 'dashboard.duration' | translate }}</h5>
        <p class="display-4 mb-0 mt-auto" style="font-size: 2rem">{{ totalDuration() }}</p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card text-center shadow-sm h-100">
      <div class="card-body d-flex flex-column">
        <div class="mb-3">
          <app-icon class="text-warning" name="elevation" size="48" />
        </div>
        <h5 class="card-title text-muted">{{ 'dashboard.elevation' | translate }}</h5>
        <p class="display-4 mb-0 mt-auto">{{ totalElevation() }}</p>
        <small class="text-muted">m</small>
      </div>
    </div>
  </div>
</div>
