@if (getTotal() > 1) {
  <nav aria-label="Pagination" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="!getHasPrevious()">
        <button class="page-link" [disabled]="!getHasPrevious()" (click)="onPrevious()">
          {{ 'pagination.last' | translate }}
        </button>
      </li>

      @for (page of getPages(); track $index) {
        @if (page === -1) {
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
        } @else {
          <li class="page-item" [class.active]="getCurrent() === page">
            <button class="page-link" (click)="onGoTo(page)">
              {{ page }}
            </button>
          </li>
        }
      }

      <li class="page-item" [class.disabled]="!getHasNext()">
        <button class="page-link" [disabled]="!getHasNext()" (click)="onNext()">
          {{ 'pagination.next' | translate }}
        </button>
      </li>
    </ul>
  </nav>

  <div class="text-center text-muted">
    @let currentPage = getCurrent();
    @let totalPages = getTotal();
    @let totalEntries = getTotalCount();
    <small>{{ 'pagination.info' | translate:{currentPage, totalPages, totalEntries} }}</small>
  </div>
}
